{% extends "analytics/layout.njk" %}
{% from "macros/analytics-table.njk" import analyticsTable %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "macros/csv-download.njk" import csvDownloadButton %}

{% block analyticsContent %}
  <div class="govuk-width-container">
    <h1 class="govuk-heading-xl">Service performance overview</h1>
    <p class="govuk-body-l">High level overview of current service performance</p>

    <div data-section="shared-filters">
      {% include "analytics/overview/overview-filters.njk" %}
    </div>

    <div data-section="overview-service-performance" data-ajax-initial="true">
      {% include "analytics/overview/partials/service-performance-table.njk" %}
    </div>
    <div data-section="overview-task-events" data-ajax-initial="true">
      {% include "analytics/overview/partials/task-events-table.njk" %}
    </div>
  </div>
{% endblock %}
