{% extends "analytics/layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "macros/analytics-table.njk" import analyticsTable %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "macros/csv-download.njk" import csvDownloadButton %}

{% block analyticsContent %}
  <div class="govuk-width-container govuk-width-container--full">
    <h1 class="govuk-heading-xl">Tasks outstanding</h1>
    <p class="govuk-body-l">Details of outstanding tasks</p>

    <div data-section="shared-filters">
      {% include "analytics/outstanding/outstanding-filters.njk" %}
    </div>

    <div data-section="open-tasks-summary" data-ajax-initial="true">
      {% include "analytics/outstanding/partials/open-tasks-summary.njk" %}
    </div>

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-one-half" data-section="open-tasks-table" data-ajax-initial="true">
        {% include "analytics/outstanding/partials/open-tasks-table.njk" %}
      </div>
      <div class="govuk-grid-column-one-half" data-section="wait-time-table" data-ajax-initial="true">
        {% include "analytics/outstanding/partials/wait-time-table.njk" %}
      </div>
    </div>

    <div data-section="criticalTasks" data-ajax-initial="true">
      {% include "analytics/outstanding/partials/critical-tasks.njk" %}
    </div>

    <div class="govuk-grid-row govuk-!-margin-top-6">
      <div class="govuk-grid-column-one-half" data-section="tasks-due" data-ajax-initial="true">
        {% include "analytics/outstanding/partials/tasks-due.njk" %}
      </div>
      <div class="govuk-grid-column-one-half" data-section="open-tasks-priority" data-ajax-initial="true">
        {% include "analytics/outstanding/partials/open-tasks-priority.njk" %}
      </div>
    </div>

    <div data-section="open-by-name" data-ajax-initial="true">
      {% include "analytics/outstanding/partials/open-by-name.njk" %}
    </div>
    <div data-section="open-by-region-location" data-ajax-initial="true">
      {% include "analytics/outstanding/partials/open-by-region-location.njk" %}
    </div>
  </div>
{% endblock %}
