{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% macro analyticsSectionError(sectionError, classes="govuk-!-margin-bottom-4") %}
  {% if sectionError %}
    {{ govukWarningText({
      text: sectionError.message,
      iconFallbackText: "Warning",
      classes: classes,
      attributes: {
        'data-analytics-section-error': 'true'
      }
    }) }}
  {% endif %}
{% endmacro %}
